<div class = "row">
    <div class = "col-lg-6 col-md-offset-3">
        <form method = "post">
            <input type="text" class="form-control" name="name">
             <input type="email" class="form-control" name="email">
             <input type="password" class="form-control" name="password">
        </form> 
    </div>
</div>